body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
}

nav {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#020617;
}

nav ul {
  list-style:none;
  display:flex;
  gap:20px;
}

nav a {
  color:white;
  text-decoration:none;
}

.hero {
  text-align:center;
  padding:120px 20px;
  background:linear-gradient(to right,#2563eb,#1e40af);
}

section {
  padding:80px 20px;
  text-align:center;
}

.grid span {
  display:inline-block;
  background:#2563eb;
  margin:8px;
  padding:10px 18px;
  border-radius:6px;
}

ul {
  list-style:none;
}

footer {
  background:#020617;
  padding:20px;
}
